<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.fruct.oss.mapcontent">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:allowBackup="true"
                 android:label="@string/app_name">

        <service
            android:name="org.fruct.oss.mapcontent.content.ContentService"
            android:enabled="true"
            android:exported="false" >
        </service>

    </application>
</manifest>
